<p>Find me in app/views/events/new.html.erb</p>
<hr>

<div class="d-flex flex-column">

  <div class="row">
    <h1 class="my-1 mx-5">Create an Event</h1>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 my-5 mx-5">
        <%= form_for(:event, url: events_create_path) do |f| %>

        <%= f.label :event %>
        <%= f.text_field :event, class: 'form-control'%>

        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control'%>

        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control'%>
        
        <%= f.label :date %>
        <%= f.date_field :date, class: 'form-control'%>

        <%= f.submit "Click here to create a new event", class: "btn btn-success my-3" %>
        <% end %>
    </div>
 </div>
</div>

